@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}
.firstname {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.248);
    font-weight: 700;
    font-family: "Poppins", sans-serif;
  }
nav a:hover{
    font-weight: bold;
    color: #808080;
    padding-bottom: 5px;
    border-bottom: 3px solid #808080;
    transition: 0.2s;
}
nav {
    display: flex;
    background-color: #FFF;
    padding: 5px;
    position: sticky;
    top: 0;
   justify-content: space-around;
   box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.329);
   z-index: 100;
}
nav a{
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #808080;
}
nav li{
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}
header{
    display: inline;
}
.content1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15%;
}
main h1 {
    text-align: center;
    margin: 15%;
}
main{
    padding: 5px;
    overflow: auto;
}
.swiper {
    max-width: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;

    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.Our-Product a h2{
  text-align: center;
  margin-bottom: 15%;
}



